<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
        <script type="text/javascript" src="/js/login.js" defer></script>
    </head>

    <body>
        <div id="container">
            <div id="sign_in" class="fungsi">
                <h1>Sign in</h1>
                <div id="form_sign_in">
                    <form th:action="@{/login}" method="post">
                        <p>Silahkan sign in untuk mulai merental film</p>
                        <p th:if="${status}==failed"><bold>Cek kembali username atau password</bold></p>
                        <input type="text" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="submit" value="SIGN IN">
                    </form>
                </div>
            </div>

            <div id="sign_up" class="fungsi">
                <h1>Sign up</h1>
                <div id="form_sign_up">
                    <form th:action="@{/register}" method="post">
                        <p>Silahkan sign up untuk mulai merental film</p>
                        <input type="text" name="notelp" placeholder="Phone Number" required>
                        <input type="text" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="submit" value="SIGN UP">
                    </form>
                </div>
            </div>

            <div id="overlay_sign_up" class="fungsi">
                <h1>Belum memiliki akun?</h1>
                <input type="button" value="SIGN UP">
            </div>

            <div id="overlay_sign_in" class="fungsi">
                <h1>Sudah memiliki akun?</h1>
                <input type="button" value="SIGN IN">
            </div>
        </div>
    </body>
</html>