<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="/css/sign_up.css">
    </head>

    <body>
        <div id="container">
            <div id="sign_up" class="fungsi">
                <h1>Sign up</h1>
                <div id="form_sign_up">
                    <form action="">
                        <p>Silahkan sign up untuk mulai merental film</p>
                        <input type="text" name="notelp" placeholder="Phone Number" required>
                        <input type="text" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="button" value="SIGN UP">
                    </form>
                </div>
            </div>

            <div id="overlay_sign_in" class="fungsi">
                <h1>Sudah memiliki akun?</h1>
                <a href="/signin"><input type="button" value="SIGN IN"></a>
            </div>
        </div>
    </body>
</html>