<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>User</title>
</head>
<body>
    <main>
        <h2>Daftar Genre</h2>
        <table>
            <tr>
                <th>Foto</th>
                <th>Nama</th>
                <th>Tanggal Lahir</th>
                <th>Deskripsi Diri</th>
            </tr>
            <!-- <tr th:each="row : ${results}">
                <td th:text="${row.foto}"></td>
                <td th:text="${row.nama}"></td>
                <td th:text="${row.tgl_lahir}"></td>
                <td th:text="${row.deskripsi}"></td>
            </tr> -->

            <tr>
                <td>Foto</td>
                <td>Yoona</td>
                <td>30 May 1990</td>
                <td>Salah satu artis korea</td>
            </tr>
            
        </table>
    </main>

</body>
</html>
