<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>User</title>
</head>
<body>
    <main>
        <div class="containerHOME">
            <div>LAPORAN BULANAN BELOM</div>
            <div class="containerBigSize">
                <div class="bigSize">
                    <div class="judul">Grafik penyewaan</div>
                    <div>/\/\/\/\/\/\/</div>
                </div>
                <div class="containerSmall">
                    <div class="smallSize">
                        <div class="judul">Weekly Sales</div>
                        <div>Rp 10.000.000,00</div>
                    </div>
                    <div class="smallSize">
                        <div class="judul">Jumlah Film Disewa</div>
                        <div>200</div>
                    </div>
                    <div class="smallSize">
                        <div class="judul">Top Genre</div>
                        <div>Action</div>
                    </div>
                </div>
            </div>
            <div class="containerDB">
                <div class="mediumSize">
                    <div class="judul">Top 10 film paling laku</div>
                </div>
                <div class="mediumSize">
                    <div class="judul">Top 10 Tidak laku</div>
                </div>
            </div>
            <div class="containerDB">
                <div class="mediumSize">
                    <div class="judul">List out of stock</div>
                </div>
                <div class="mediumSize">
                    <div class="judul">Top Genre</div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>