<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>User</title>
</head>
<body>
    <main>
        <div class="containerHOME">
            <div class="containerBigSize">
                <div class="bigSize">Grafik penjualan per bulan</div>
                <div class="containerSmall">
                    <div class="smallSize">Weekly Sales</div>
                    <div class="smallSize">Jumlah Film terjual</div>
                    <div class="smallSize">Top Genre</div>
                </div>
            </div>
            <div class="containerDB">
                <div class="mediumSize">Top 10 film paling laku</div>
                <div class="mediumSize">Top 10 Tidak laku</div>
            </div>
            <div class="containerDB">
                <div class="mediumSize">List out of stock</div>
                <div class="mediumSize">Top Genre</div>
            </div>
        </div>
    </main>

</body>
</html>