<!DOCTYPE html>
<script th:src="@{/js/genre.js}" defer></script>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Daftar Genre</title>
</head>
<body>
    <main>
        <div class="genre-container">
            <div class="genre-header-container">
                <h1 class="judulPage">Data Master Genre</h1>
                <button class="add-genre-button">Tambah Genre Baru</button>
            </div>

            <div class="genre-pop-up-container hidden">
                <div class="add-genre-box">
                    <div class="pop-up-header">
                        <h2>Tambah Genre baru</h2>
                        <button class="genre-close-pop-up">X</button>
                    </div>
                    <form class="pop-up-content" th:action="@{/genre/}" method="post">
                        <div class="judulInput">Nama genre yang ingin ditambahkan</div>
                        <input type="text" name="genre_name" class="genre_name">
                        <button type="submit" disabled>Add</button>
                    </form>
                </div>
            </div>

            <div class="genre-list" th:if="${genre_available} == true">
                <div class="genre-box" th:each="genre : ${genreList}">
                    <div th:text="${genre.nama}"></div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
