<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Daftar Genre</title>
</head>
<body>
    <main>
        <h2>Daftar Genre</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
            <!-- <tr th:each="row : ${results}">
                <td th:text="${row.name}"></td>
                <td th:text="${row.role}"></td>
            </tr> -->

            <tr>
                <td>Action</td>
                <td>hapus</td>
            </tr>
            
        </table>
    </main>

</body>
</html>
