<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Daftar Genre</title>
</head>
<body>
    <main>
        <div class="genre-container">
            <h1 class="judulPage">Data Master Genre</h1>
            <div class="genre-list">
                <div class="genre-box">
                    <div>Action</div>
                </div>
                <div class="genre-box">
                    <div>Comedy</div>
                </div>
                <div class="genre-box">
                    <div>Horror</div>
                </div>
                <div class="genre-box">
                    <div>Mystery</div>
                </div>
                <div class="genre-box">
                    <div>Romance</div>
                </div>
                <div class="genre-box">
                    <div>Plot armor</div>
                </div>
                <div class="genre-box">
                    <div>Au ah gelap</div>
                </div>
                <div class="genre-box">
                    <div>Makan jems kuy</div>
                </div>
                <div class="genre-box">
                    <div>Jembut kribo</div>
                </div>
                <div class="genre-box">
                    <div>Payung crispy</div>
                </div>
                <div class="genre-box">
                    <div>genre name</div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
