<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Kelola Transaksi</title>
</head>
<body>
    <main>
        <div class="containerTransaksi">
            <h1 class="judulPage">Kelola Transaksi</h1>
            <table class="tableTransaksi">
                <thead>
                    <tr>
                        <th>ID Transaksi</th>
                        <th>Nama Pelanggan</th>
                        <th>Total Harga</th>
                        <th>Tanggal</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaksi : ${transaksiList}">
                        <td th:text="${transaksi.idTransaksi}">1</td>
                        <td th:text="${transaksi.nama}">John Doe</td>
                        <td th:text="${transaksi.total}">100000</td>
                        <td th:text="${#dates.format(transaksi.tanggal, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${transaksi.tipeTransaksi}"></td>
                        <td>
                            <a th:href="@{/admin/kelolatransaksi/detail/{id}(id=${transaksi.idTransaksi})}" class="btn-detail">Lihat Detail</a>

                            <form th:if="${!#strings.equalsIgnoreCase(transaksi.tipeTransaksi, 'DONE')}" th:action="@{/admin/kelolatransaksi/approve}" method="post" style="display: inline;">
                                <input type="hidden" name="idTransaksi" th:value="${transaksi.idTransaksi}">
                                <button type="submit">Approve</button>
                            </form>
                        </td>
                    </tr>
                    <!-- Jika transaksiList kosong -->
                    <tr th:if="${#lists.isEmpty(transaksiList)}">
                        <td colspan="6" class="noTransaksi">Tidak ada transaksi ditemukan.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
