<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <main>
        <div class="containerHOME" id="contentToCapture">
            <h1 class="judulPage" th:text="${judulHalaman}">Monthly Analytics</h1>
            <div class="containerBigSize">
                <div class="containerSmall">
                    <div class="smallSize" style="background-color: #F4E8FF">
                        <div class="judulContainer">Weekly Sales</div>
                        <div th:text="${weeklySales}">Rp 5.000.000,00</div>
                    </div>
                    <div class="smallSize" style="background-color: #DCFCE7">
                        <div class="judulContainer">Jumlah Film Disewa</div>
                        <div th:text="${jumlahPenyewaan}">200</div>
                    </div>
                    <div class="smallSize" style="background-color: #FFE2E6">
                        <div class="judulContainer">Top Genre</div>
                        <div th:text="${topGenre}">Action</div>
                    </div>
                </div>
                <div class="bigSize">
                    <div class="judulContainer">Grafik Penjualan</div>
                    <div id="lineChart" style="width: 900px; height: 500px;"></div>
                </div>
            </div>
            <div class="containerForDashboard">
                <div class="mediumSize" style="margin-right: 15px;">
                    <div class="judulContainer">Top 5 Film Paling Laku</div>
                    <table class="tabelDashboard">
                        <tr>
                            <th>#</th>
                            <th>Judul</th>
                            <th>Sales</th>
                            <th>Total Pendapatan</th>
                            <th>Stok</th>
                        </tr>
                            <tr th:each="row : ${top5BestFilm}">
                                <td th:text="${row.rowNumber}"></td>
                                <td th:text="${row.judul}"></td>
                                <td th:text="${row.jumlahPenyewaan}"></td>
                                <td th:text="${row.banyakPendapatan}"></td>
                                <td th:text="${row.stock}"></td>
                            </tr>
                    </table>
                </div>
                <div class="mediumSize" style="margin-left: 15px;">
                    <div class="judulContainer">Top 5 Film Tidak Laku</div>
                    <table class="tabelDashboard">
                        <tr>
                            <th>#</th>
                            <th>Judul</th>
                            <th>Sales</th>
                            <th>Total Pendapatan</th>
                            <th>Stok</th>
                        </tr>
                            <tr th:each="row : ${top5WorstFilm}">
                                <td th:text="${row.rowNumber}"></td>
                                <td th:text="${row.judul}"></td>
                                <td th:text="${row.jumlahPenyewaan}"></td>
                                <td th:text="${row.banyakPendapatan}"></td>
                                <td th:text="${row.stock}"></td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="containerForDashboard">
                <div class="mediumSize" style="width: 550.25px;">
                    <div class="judulContainer">Top 5 Selling Genre</div>
                    <table class="tabelDashboard">
                        <tr>
                            <th>#</th>
                            <th>Genre</th>
                            <th>Sales</th>
                        </tr>
                            <tr th:each="row : ${top5BestGenre}">
                                <td th:text="${row.rowNumber}"></td>
                                <td th:text="${row.namaGenre}"></td>
                                <td th:text="${row.jumlahPenyewaan}"></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <button id="downloadButton" style="margin-top: 10px; font-size: medium;">Download PDF</button>
    </main>
</body>
</html>