<!DOCTYPE html>
<html th:replace="~{layout/layoutUser :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title>Etalase</title>
        <link rel="stylesheet" th:href="@{/css/etalase.css}">
    </head>

    <body>
        <main id="detailContainer">
            <div id="coverFilm">
                <img th:src="'data:image/jpeg;base64,' + ${filmDetail.cover}">
            </div>

            <div id="informasiFilm">
                <h1 th:text="${filmDetail.judul} + ' (' + ${filmDetail.tahunRilis} + ')'"></h1>
                <p id="durasi">Durasi: <span th:text="${filmDetail.durasi}"></span> menit</p>
                <p id="avgrating">Rating: <span th:text="${filmDetail.averageRating}"></span></p>
                <div id="genres">
                    <p>Genre: </p>
                    <div id="genreContainer">
                        <div class="genreItems" th:each="genre : ${filmDetail.genres}">
                            <p id="genreName" th:text="${genre}"></p>
                        </div>
                    </div>
                </div>
                <p id="stock">Stock: <span th:text="${filmDetail.stock}"></span></p>
                <p id="harga">Harga per hari: Rp.<span th:text="${filmDetail.hargaPerHari}"></span></p>
                <a href="" id="tombolRental">Rental</a>
            </div>

            <div id="deskripsiFilm">
                <hr>
                <h2>Sinopsis:</h2>
                <p id="sinopsis" th:text="${filmDetail.deskripsi}"></p>
                <h2>Aktor:</h2>
                <div id="actors">
                    <div id="aktorContainer">
                        <div class="aktorItems" th:each="aktor : ${actors}">
                            <img th:src="'data:image/jpeg;base64,' + ${aktor.fotoProfil}">
                            <p th:text="${aktor.nama}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
