<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Tubes PBW</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/etalase.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <div class="hed">
            <h1>Sewa Film 21</h1>
            <span>
                <div th:include="~{user/search :: searchMenu}"></div>
            </span>
        </div>
        <nav>            
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/newRelease}">Release Terbaru</a>
            
            <div class="dropdown">
                <button>Genre</button>
                <div class="listContent">
                    <a th:href="@{/genre/action}">action</a>
                    <a th:href="@{/genre/comedy}">comedy</a>
                    <a th:href="@{/genre/adventure}">adventure</a>
                    <a th:href="@{/genre/history}">history</a>
                    <a th:href="@{/genre/Documentary}">Documentary</a>
                </div>
            </div>

            <div class="dropdown">
                <button>Negara</button>
                <div class="listContent">
                    <!-- HARUSNYA JADI GET SUPAYA KEK FILTER -->
                    <a th:href="@{/2024}">2024</a>
                    <a th:href="@{/2023}">2023</a>
                    <a th:href="@{/2022}">2022</a>
                    <a th:href="@{/2021}">2021</a>
                    <a th:href="@{/2020}">2020</a>
                </div>
            </div>  
        </nav>
    </header>
    <br>
    <main th:replace="${content}">
        <p>Page content goes here</p>
    </main>
    <hr>
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>
