* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(216, 215, 215);
}

footer {
    width: 100%;
}

footer > p {
    margin-bottom: 0;
}


/* CSS Etalase */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-spacing: 20px;
    width: 1065px;
}

tr {
  height: 350px;
}

tr#tableHeader {
    background-color: white;
    height: 100px;
}

tr#tableHeader > th {
    font-size: 50px;
}

td {
    border-radius: 10px;
    height: inherit;
}

td:hover {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.5s;
}

#containerFilm {
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#gambar {
    height: 80%;
    background-color: red;
    position: relative;
    border-radius: 10px;
}

#rating {
    font-size: 20px;
    position: absolute;
    top: 0;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#bintang {
    color: gold;
}

#rate {
    color: white;
}

#judul {
    margin-top: 10px;
}
/* CSS Etalase */

/* CSS Pagination */
ul.pagination-container{
	display: flex;
	list-style-type: none;
}

ul.pagination-container a.disabled{
	pointer-events: none;
  color: gray;
	cursor: not-allowed;
}

a {
	text-decoration: none;
	border: 2px solid teal;
	background: white;
	color: teal;
	padding: 6px;
}

a:hover {
	color: white;
	background: teal;
}

a:active {
	color: white;
	background: teal;
}
/* CSS Pagination */
