<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <tr th:each="item : ${cart}">
        <td><img th:src="'data:image/jpeg;base64,' + ${item.coverFilm}" /></td>
        <td th:text="${item.judul}"></td>
        <td>
            <form th:action="@{/cart/update}" method="post">
                <input type="hidden" name="idFilm" th:value="${item.idFilm}" />
                <input type="number" name="jumlahHari" th:value="${item.jumlahHari}" min="1" />
                <button type="submit">Update</button>
            </form>
        </td>
        <td><button th:onclick="location.href='@{/cart/remove(idFilm=${item.idFilm})}'">Hapus</button></td>
    </tr>
</body>
</html>