.aktor-container{
       /* height: 100%; */
}

.aktor-container > *{
    margin: 50px;
    margin-top: 0px;
}

.aktor-header{
    display: flex;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.aktor-header *{
    color: black;
}

.aktor-header h1{
    margin: 0px;
}

.aktor-subheader{
    margin-left: 15px;
}

.aktor-input-container{
    display: flex;
    gap: 30px;
    height: 580px;
}

.aktor-input-container > *{
    border: 2px none;
    border-radius: 20px;
    padding: 40px;
}

.aktor-foto-container{
    box-sizing: border-box;
    background-color: aliceblue;
    width: 30%;
    height: 100%;
}

.aktor-edit-picture{
    width: 300px;
    height: 300px;
}
.aktor-edit-picture{
    height: 100%;
    width: 100%;
}
    .aktor-input-file{
        margin-top: 20px;
    }

.aktor-biodata-container{
    height: 100%;
    box-sizing: border-box;
    width: 70%;
    background-color: aliceblue;
}

.aktor-input-text-container div{
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 150px;
    color: gray;
}

.aktor-input-text-container input{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #005f86;
    border-radius: 5px;

}
.aktor-input-text-container .full{
    width: 100%;
    height: 30px;
}

.aktor-input-text-container .small{
    height: 30px;
}


.save-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.save-container *{
    width: 180px;
    height: 36px;
    border: 2px none;
    border-radius: 5px;
    background-color: #005f86;
    color: white;
    font-size: 125%;
}

#loh{
    height: auto;
}

#input-deskripsi{
    resize: none;
    height: 185px;
    width: 100%;
    border-radius: 0px;
    text-align: start;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    border: 1px solid #005f86;
    border-radius: 5px;
}

.bulan_lahir_dropdown{
    box-sizing: content-box;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px 2px 1px 15px;
    border: 1px solid #005f86;
    border-radius: 5px;
}

input[type="number"]{
    width: 75px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}