.tableAktor {
    margin: 30px;
    margin-top: 0px;
    max-width: 100%;
    overflow: hidden;
}

.thead {
    display: flex;
    width: 100%;
    color: gray;
    font-weight: bold;
    text-align: left;
}

.thead > * {
    flex: 1;
    padding: 20px;
}

.thead > div:nth-child(2){
    margin: auto 0;
}

.tbody {
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    border: 2px none;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: aliceblue;
}

.tbody > * {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    max-height: 99px;
    overflow: hidden;
    font-size: 125%;
}

.containerNama {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 15px;
}

.deskripsiAktor{
    flex: 1;
    align-items: flex-start;
    font-size: 100%;
    max-height: 60px;
    overflow: hidden;
    justify-content: center;
    margin: auto 0;
    padding: 0px;
}

.tbody > .deskripsiAktor{
    flex: 2;
}

.pictures {
    border: 2px solid #0077b6;
    /* border-radius: 50%; */
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #0077b6;
    background-color: white;
}

.tbody > * > div > div:hover {
    background-color: #005f86;
}

.slotPagination{
    flex: 2;
    padding: 15px;
    padding-right: 0px;
    overflow: hidden;
}

ul.pagination-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

ul.pagination-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    border-radius: 5px;
    border: 1px solid #0077b6;
    background-color: white;
}

ul.pagination-container li:hover{
    background-color: #005f86;
    cursor: pointer;
}


ul.pagination-container li:hover a{
    color: white;
}


ul.pagination-container li a{
    color: #0077b6;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul.pagination-container li.disabled {
    background-color: white;
    pointer-events: none;
    cursor: not-allowed;
}

/* untuk page aktif */
ul.pagination-container li.activePage { 
    background-color: #005f86;
    pointer-events: none;
    cursor: not-allowed;
}

ul.pagination-container a.activePage {
    color:white;
}

ul.pagination-container a.disabled {
    color:gray;
}

ul.pagination-container li.active {
    background-color: #005f86;
    color: white;
}

ul.pagination-container li:first-child,
ul.pagination-container li:last-child {
    margin: 0 15px;
}

ul.pagination-container li:first-child a,
ul.pagination-container li:last-child a {
    font-size: 30px;
    margin-bottom: 5px;
}

input[type="text"]{
    width: 200px;
    padding-left: 10px;
    height: 30px;
    border: 1px solid #005f86;
    border-radius: 50px;
}

.iconSearch{
    width: 25px;
    vertical-align: middle;
    height: 25px;
    margin-left: 5px;
}

.iconSearch:hover{
    cursor: pointer;
}

.editButton{
    color:#005f86;
    background-color: aliceblue;
    border: 2px solid #005f86;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 105%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.editButton:hover{
    background-color: #005f86;
    color: white;
    cursor: pointer;
}

.iconEdit {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: 5px;
}

.editButton:hover .iconEdit{
    filter: invert(1);
}