<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title>Etalase</title>
        <link rel="stylesheet" th:href="@{/css/etalase.css}">
    </head>

    <body>
        <main>
            <th:block th:include="~{/layout/pagination :: pagination}"></th:block>
            <table>
                <tr id="tableHeader">
                    <th colspan="5">Trending Movies</th>
                </tr>
                <tr>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                    <td>
                        <div id="containerFilm">
                            <div id="gambar">
                                
                                <div id="rating">
                                    <span id="bintang">&#9733; <span id="rate">5.5</span></span> 
                                </div>
                            </div>
                            <p id="judul">The Amazing Spaidermen</p>
                        </div>
                    </td>
                </tr>
            </table>
        </main>
    </body>
</html>