<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title>Etalase</title>
        <link rel="stylesheet" href="/css/etalase.css">
    </head>

    <body>
        <main>
            <table style="">
                <tr>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                </tr>
                <tr>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                </tr>
                <tr>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                    <td>film</td>
                </tr>
            </table>
        </main>
    </body>
</html>