<!DOCTYPE html>
<html th:replace="~{layout/layoutUser :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title>Etalase</title>
        <link rel="stylesheet" th:href="@{/css/etalase.css}">
        <script type="text/javascript" src="/js/slideshowEtalase.js" defer></script>
    </head>

    <body>
        <main id="etalase">
            <div class="containerSlideshow">
                <div class="slides fade">
                  <div class="numbertext">1 / 3</div>
                  <div class="text">Caption Text</div>
                </div>
              
                <div class="slides fade">
                  <div class="numbertext">2 / 3</div>
                  <div class="text">Caption Two</div>
                </div>
              
                <div class="slides fade">
                  <div class="numbertext">3 / 3</div>
                  <div class="text">Caption Three</div>
                </div>
              
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
              
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            
            <div id="headerEtalase">
                <h1>Our Collection</h1>
            </div>

            <p th:if="${status}=='none'" style="color: red;">Tidak ada film yang sesuai dengan filter tersebut!</p>

            <div id="filmsContainer">
                <a id="film" th:each="film : ${films}" th:href="@{/film/{judul}/{id}(judul=${film.judul}, id=${film.id})}" >
                    <div id="gambar">
                        <img th:src="'data:image/jpeg;base64,' + ${film.cover}">
                        <span id="bintang">&#9733; <span  id="rating">5.5</span></span>
                    </div>
                    <div id="deskripsi">
                        <p id="judul" th:text="${film.judul}"></p>
                    </div>
                </a>
            </div>

            <th:block th:include="~{/layout/pagination :: pagination}"></th:block>
        </main>
    </body>
</html>
